{% extends "main/base.html" %}

{% block title %} 
Home
{% endblock title %}

{% block content %}

<style>
  #popUpBanner{
            text-align:center; 
            background-color:black; 
            position:fixed; 
            margin-top:10%; 
            margin-left:15%;
            z-index: 100;
            padding-left:30px;
            padding-right:30px;
            opacity: 0.8;
  }
 
  #popUpBanner h1{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  #genre_selection ul{
    margin-left: -15%;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  #genre_selection li{
    margin-left: -5%;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
    list-style-type: none;
    display:inline;
  }
  #genre_selection li button{
    margin-bottom: 1%;
    
    
  }

</style>

{% if request.user.is_authenticated %}

{% else %}
<div class="form-popup" id="popUpBanner">
    <h1 onclick="closeForm()">
      <br />
      Why are you just watching the movie when <br />
      you can also getting the prizes?<br />
      Sign up an account now!</h1>
    <br />
    <br />
</div>
{% endif %}
<script>
function openForm() {
  document.getElementById("popUpBanner").style.display = "block";
}

function closeForm() {
  document.getElementById("popUpBanner").style.display = "none";
}
</script>

<div class="search-container" class="form-group">
    <form method="post" >
        {% csrf_token %}       
        {{form.movie_name}}
        <button type="submit"><i class="fa fa-search"></i></button>
        <p style="margin-left:5px;">{{msg}}</p>
    </form>
</div>
<br/>


<h2>Upcoming Movies</h2><br/>
<div class="row">
    {% for movie in newmovie %}
                <div class="col-md-2">
                    <div class="movie-img">
                        <a {% if request.user.is_authenticated %} href="/movie_detail/{{movie.id}}" {% endif %}>
                        <img src={{movie.movie_image_url}} alt="" width="90%" height="90%"  />
                        </a>
                        <p>{{movie.movie_name}}</p>
                    </div>
                </div>
        {% endfor %}
</div>
 
{% if request.user.is_authenticated %}
<h2>Recommended for You</h2>
<div class="movie-detail">
    <div class="row">
        {% for movie in cflist %}
                <div class="col-md-2">
                    <div class="movie-img">
                        <a {% if request.user.is_authenticated %} href="/movie_detail/{{movie.movie_id}}" {% endif %}>
                        <img src={{movie.movie_image_url}} alt="" width="90%" height="90%"  />
                        </a>
                        <p>{{movie.movie_name}}</p>
                        <p>Predict Score: {{movie.weighted_score}}</p>
                    </div>
                </div>
        {% endfor %}

        {% for movie in intMovie %}
                <div class="col-md-2">
                    <div class="movie-img">
                        <a {% if request.user.is_authenticated %} href="/movie_detail/{{movie.movie_id}}" {% endif %}>
                        <img src={{movie.movie_image_url}} alt="" width="90%" height="90%"  />
                        </a>
                        <p>{{movie.movie_name}}</p>
                    </div>
                </div>
        {% endfor %}

        {% for movie in genmovies %}
                <div class="col-md-2">
                    <div class="movie-img">
                        <a {% if request.user.is_authenticated %} href="/movie_detail/{{movie.id}}" {% endif %}>
                        <img src={{movie.movie_image_url}} alt="" width="90%" height="90%"  />
                        </a>
                        <p>{{movie.movie_name}}</p>
                    </div>
                </div>
        {% endfor %}
      </div>
</div>
{% else %}
<h2>Popular Movies</h2><br/>
<div class="movie-detail">
    <div class="row">
      {% for movie in movielist %}
        {% if movie.overall_rating >= 5 %}
              <div class="col-md-2">
                  <div class="movie-img">
                    <a {% if request.user.is_authenticated %} href="/movie_detail/{{movie.id}}" {% endif %}>
                      <img src={{movie.movie_image_url}} alt="" width="90%" height="90%"  />
                    </a>
                      <p>{{movie.movie_name}}</p>
                  </div>
              </div>
        {% endif %}
      {% endfor %}
    </div>
</div>

{% endif %}



<ul id="genre_selection">
  <form method="post">
  {% csrf_token %}     
    {% for genre in split_genre %}
    <li><button type="submit" class="btn btn-primary" name="movie_genre" value="{{genre}}">
      {{genre}}
    </button></li>
  {% endfor%}
</form>
</ul>
</br>

<div class="movie-detail">
  <div class="row">
    {{select_genre_done.movie_genre}}
    {% for movie in movielist %}
            <div class="col-md-2">
                <div class="movie-img">
                  <a {% if request.user.is_authenticated %} href="/movie_detail/{{movie.id}}" {% endif %}>
                    <img src={{movie.movie_image_url}} alt="" width="90%" height="90%"  />
                  </a>
                    <p>{{movie.movie_name}}</p>
                </div>
            </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
