{% extends "main/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h2>Upcoming Movies</h2>
<div class="movie-detail">
      <div class="row">

        <div class="col-md-2">
            <div class="movie-img">
                <img src="https://cdn.moviefone.com/admin-uploads/posters/morbius-movie-poster_1638710998.jpg?d=360x540&q=60" alt="" width="75%" height="75%"  />
            </div>
        </div>

        <div class="col-md-2">
            <div class="movie-img">
                <img src="https://cdn.moviefone.com/admin-uploads/posters/sonic2-movie-poster_1638995220.jpg?d=360x540&q=60" alt="" width="75%" height="75%"  />
            </div>
        </div>

        <div class="col-md-2">
            <div class="movie-img">
                <img src="https://cdn.moviefone.com/admin-uploads/posters/thesecretsofdumbledoreposter_1646063833.jpg?d=360x540&q=60" alt="" width="75%" height="75%"  />
            </div>
        </div>

        <div class="col-md-2">
            <div class="movie-img">
                <img src="https://cdn.moviefone.com/admin-uploads/posters/thelostcityposter_1644600130.jpg?d=360x540&q=60" alt="" width="75%" height="75%"  />
            </div>
        </div>

        <div class="col-md-2">
            <div class="movie-img">
                <img src="https://cdn.moviefone.com/image-assets/438148/wKiOkZTN9lUUUNZLmtnwubZYONg.jpg?d=360x540&q=60" alt="" width="75%" height="75%"  />
            </div>
        </div>

      </div>
</div>

&nbsp;
&nbsp;
&nbsp;
&nbsp;

<h2>Recommended for You</h2>
<div class="movie-detail">
      <div class="row">

        <div class="col-md-2">
            <div class="movie-img">
                <img src="http://image.tmdb.org/t/p/w500//mYDKm9HxImm8PRru3KbkHAe1cmk.jpg" alt="" width="75%" height="75%"  />
            </div>
        </div>

        <div class="col-md-2">
            <div class="movie-img">
                <img src="http://image.tmdb.org/t/p/w500//yk4J4aewWYNiBhD49WD7UaBBn37.jpg" alt="" width="75%" height="75%"  />
            </div>
        </div>

        <div class="col-md-2">
            <div class="movie-img">
                <img src="http://image.tmdb.org/t/p/w500//eWdyYQreja6JGCzqHWXpWHDrrPo.jpg" alt="" width="75%" height="75%"  />
            </div>
        </div>

        <div class="col-md-2">
            <div class="movie-img">
                <img src="http://image.tmdb.org/t/p/w500//850chzYHYbT3IISl6Q7dbBuFP2B.jpg" alt="" width="75%" height="75%"  />
            </div>
        </div>

        <div class="col-md-2">
            <div class="movie-img">
                <img src="http://image.tmdb.org/t/p/w500//jAWBQBsUK6lIrdl8YGIxZk2ffgp.jpg" alt="" width="75%" height="75%"  />
            </div>
        </div>

      </div>
</div>

{% endblock %}
