{% extends "main/base.html" %}

{% block title %} 
Home
{% endblock title %}

{% block content %}

<style>
  #popUpBanner{
            text-align:center; 
            background-color:black; 
            position:fixed; 
            margin-top:10%; 
            margin-left:15%;
            z-index: 100;
            padding-left:30px;
            padding-right:30px;
            opacity: 0.8;
  }
 
  #popUpBanner h1{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  #genre_selection ul{
    margin-left: -15%;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  #genre_selection li{
    margin-left: -5%;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
    list-style-type: none;
    display:inline;
  }
  #genre_selection li button{
    margin-bottom: 1%;
  }

  .card a{
    text-decoration: None;
  }

  .card:hover{
    background-color: rgb(164, 164, 164);
  }

  .card-text{
    color:black;
  }



 
</style>

<!-- Function for open or close popup banner for Visitor -->
<script>
function openBanner() {
  document.getElementById("popUpBanner").style.display = "block";
}

function closeBanner() {
  document.getElementById("popUpBanner").style.display = "none";
}
</script>

{% if request.user.is_authenticated %}

{% else %}
<div class="form-popup" id="popUpBanner" {{hideBanner}}>
    <h1 onclick="closeBanner()">
      <br />
      Why are you just watching the movie when <br />
      you can also getting the prizes?<br />
      Sign up an account now!</h1>
    <br />
    <br />
</div>
{% endif %}



<!-- Search Function -->
<div class="search-container" class="form-group">
    <form method="post" >
        {% csrf_token %}       
        {{form.movie_name}}
        <button type="submit"><i class="fa fa-search"></i></button>
        <p style="margin-left:5px;">{{msg}}</p>
    </form>
</div>
<br/>


<!-- Show individual latest movie -->
<h2>Upcoming Movies</h2>
<div class="row" >
    {% for movie in newmovie %}
    <div class="card" style="width: 12.5rem;">
      <a {% if request.user.is_authenticated %} href="/movie_detail/{{movie.id}}" {% endif %}>
        <img class="card-img-top" src={{movie.movie_image_url}}>
      
      <div class="card-body">
        <p class="card-text">{{movie.movie_name}}</p>
      </div>
    </a>
    </div>
    {% endfor %}
</div>
<br />
 

<!-- Show individual recommended movie -->
{% if request.user.is_authenticated %}
<h2>Recommended for You</h2>
<div class="movie-detail">
    <div class="row">
        <!-- Based on Pearson Correlation -->
        {% for movie in cflist %}
          <div class="card" style="width: 12.5rem;">
              <a href="/movie_detail/{{movie.movie_id}}">
                <img class="card-img-top" src={{movie.movie_image_url}}>
              
                <div class="card-body" >
                  <p class="card-text">{{movie.movie_name}}</p>
                </div>
                <div class="card-footer">
                  <p class="card-text">Predict Score: {{movie.weighted_score}}</p>
                </div>
             </a>
          </div>
        {% endfor %}
        
        <!-- Based on Last Visit of your movie detail page  -->
        {% for movie in intMovie %}
          <div class="card" style="width: 12.5rem;">
            <a href="/movie_detail/{{movie.movie_id}}">
              <img class="card-img-top" src={{movie.movie_image_url}}>
            
              <div class="card-body">
                <p class="card-text">{{movie.movie_name}}</p>
              </div>
              <div class="card-footer">
                <p class="card-text">You might also like</p>
              </div>
            </a>
          </div>
        {% endfor %}

        <!-- Based on Favourite Genre you selected in registration page  -->
        {% for movie in genmovies %}
          <div class="card" style="width: 12.5rem;">
            <a href="/movie_detail/{{movie.id}}">
              <img class="card-img-top" src={{movie.movie_image_url}}>
            
              <div class="card-body">
                <p class="card-text">{{movie.movie_name}}</p>
              </div>
              <div class="card-footer">
                <p class="card-text">Your favourite genre</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
</div>
<br />

<!-- If you not login, show popular movie with high rating -->
{% else %}
<h2>Popular Movies</h2><br/>
<div class="movie-detail">
    <div class="row">
      {% for movie in movielist %}
        {% if movie.overall_rating >= 5 %}
          <div class="card" style="width: 12.5rem;">
            <a {% if request.user.is_authenticated %} href="/movie_detail/{{movie.id}}" {% endif %}>
              <img class="card-img-top" src={{movie.movie_image_url}}>
            
              <div class="card-body">
                <p class="card-text">{{movie.movie_name}}</p>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
</div>

{% endif %}


<h2>Browse Our Library</h2>
<!-- Genres filter  -->
<ul id="genre_selection">
  <form method="post">
  {% csrf_token %}     
    {% for genre in split_genre %}
    <li><button type="submit" class="btn btn-primary" name="movie_genre" value="{{genre}}">
      {{genre}}
    </button></li>
  {% endfor%}
</form>
</ul>
</br>

<!-- Display all high rating movies -->
<div class="movie-detail">
  <div class="row">
    {{select_genre_done.movie_genre}}
    {% for movie in movielist %}
            <div class="card" style="width: 12.5rem;">
              <a {% if request.user.is_authenticated %} href="/movie_detail/{{movie.id}}" {% endif %}>
                <img class="card-img-top" src={{movie.movie_image_url}}>
              
                <div class="card-body">
                  <p class="card-text">{{movie.movie_name}}</p>
                </div>
              </a>
            </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
