{% extends "main/base.html" %}

{% block title %}
View List
{% endblock %}

{% block content %}
    <h1>Admin - Movie Listing</h1>
    
    <br />
    <a href="/movie_listing_add">Add Movie</a>
    <br />
    <table>
        <tr>
            <td>ID</td>
            <td>Movie Name</td>
            <td>Movie Genre</td>
            <td>Movie Rating</td>
            <td>Movie Date Release</td>
            <!-- <td>Movie Image</td> -->
        </tr>

        {% for movie in movielist %}     
            <tr>
                <td>{{movie.id}}</td>
                <td>{{movie.movie_name}}</td>
                <td>{{movie.movie_genre}}</td>
                <td>{{movie.overall_rating}}</td>
                <td>{{movie.date_release}}</td>
                <!-- <td>{{movie.movie_image_url}}</td> -->

            </tr>           
        {% endfor %}
        
  
    </table>
{% endblock %}

