{% extends "main/base.html" %}

{% block title %} 
Movie
{% endblock title %}
{% block css %}
  
{% endblock css%}
{% block content %}

<style>
.rate {
    float: left;
    height: 50px;
    padding: 0 9px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-10000px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★  ';
}
.rate > input:checked ~ label {
    color: #23a94b;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #23a94b;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #23a94b;
}

</style>

<div class="movie-detail">
  <form method="POST" class="form-group">
    <div class="row">
      <div class="col-md-4">
          <div class="movie-img">
              <img src={{movie.movie_image_url}} alt="" width="80%" height="80%"  />
          </div>
      </div>
      <div class="col-md-8">
          <div class="movie-detail">
            <div class="row">
              <div class="col-md-4">
                  <label>Movie Name</label>
              </div>
              <div class="col-md-6">
                  <label>{{movie.movie_name}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <label>Movie Genre</label>
              </div>
              <div class="col-md-6">
                  <label>{{moviegenre}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <label>Release Year</label>
              </div>
              <div class="col-md-6">
                  
                  <label>{{movieyear}}</label> 
              </div>
            </div>      
            <div class="row">
              <div class="col-md-4">
                  <label>Overall Rating</label>
              </div>
              <div class="col-md-6">
                  
                  <label>{{movie.overall_rating}}</label> 
                  
              </div>
            </div>            
          </div>
          <br/><br/>


          <form method="POST" class="form-group" action="">
            {% csrf_token %}
            <div class="p-rating">
              <label for="rating">Your Rating:</label><br/>
              <div class="rate">
                <input type="radio" id="star5" name="rating_score" value="5" />
                <label for="star5" title="text">5</label>
                <input type="radio" id="star4" name="rating_score" value="4" />
                <label for="star4" title="text">4</label>
                <input type="radio" id="star3" name="rating_score" value="3" />
                <label for="star3" title="text">3</label>
                <input type="radio" id="star2" name="rating_score" value="2" />
                <label for="star2" title="text">2</label>
                <input type="radio" id="star1" name="rating_score" value="1" />
                <label for="star1" title="text">1</label>
              </div>
              <input type="submit" class="btn btn-primary" name='actiontype' value="Rate">
              
              <input type="submit" class="btn btn-primary" name='actiontype' value="Share">
              <a style="display:{{openShare}};" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffyp-moovii.herokuapp.com%2Fmovie_detail%2F{{movieID}}%2F&amp;src=sdkpreparse" >Go to Facebook</a>             
            </div>
        </form>
        <br />
        <label>Predicted: {{cf_score}} stars</label>
          <br />
          <i style="color:green">{{msg}}</i>
          <br />
          <br />
          <i>By doing Rating and Sharing, you can accumulate your reward points and redeem attractive prizes :)</i>


          
      </div>      
    </div>
  </form>
</div>


{% endblock %} 

