{% extends "main/base.html" %}

{% block title %} 
Movie
{% endblock title %}
{% block css %}
  
{% endblock css%}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="movie-detail">
  <form method="POST" class="form-group">
    <div class="row">
      <div class="col-md-4">
          <div class="movie-img">
              <img src="http://image.tmdb.org/t/p/w500//rmnQ9jKW72bHu8uKlMjPIb2VLMI.jpg" alt="" width="50%" height="50%"  />
          </div>
      </div>
      <div class="col-md-8">
          <div class="movie-detail">
            <div class="row">
              <div class="col-md-6">
                  <label>Movie Name</label>
              </div>
              <div class="col-md-6">
                  <p>
                    {% for movie in movielist %} 
                      {% if movie.id == 171763 %}                        
                        {{movie.movie_name|slice:":-6"}}
                      {% endif %}
                    {% endfor %}
                  </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <label>Movie Genre</label>
              </div>
              <div class="col-md-6">
                  <p>
                    {% for movie in movielist %} 
                      {% if movie.id == 171763 %}
                        {{movie.movie_genre}}
                      {% endif %}
                    {% endfor %}
                  </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <label>Release Year</label>
              </div>
              <div class="col-md-6">
                  <p>
                    {% for movie in movielist %} 
                      {% if movie.id == 171763 %}
                      {{movie.movie_name|slice:"-6:"}}
                      {% endif %}
                    {% endfor %}
                  </p>
              </div>
            </div>            
          </div>
          <br/><br/>

          <div class="p-rating">
            <label for="rating">Your Rating:</label><br/>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>         
            
            <input type="submit" class="btn btn-primary" value="Rate">
            <input type="submit" class="btn btn-primary" value="Share">
          </div>
          <!-- chee yang           
          {% csrf_token %}
          <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Score</label>
                {{form.rating_score}}
              </div>
          </div>

          <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Movie</label>
                {{form.movie_id}}
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Action</label>
                {{form.action}}
              </div>
          </div>
          <button type="submit" class="btn btn-success">Submit</button> -->
      </div>      
    </div>
  </form>
</div>

{% endblock %} 

