{% extends "main/base.html" %}

{% block title %}
Password Reset
{% endblock %}

{% block content %}
{% if validlink %}
<h3>Enter new password</h3>
<p>Please enter your new password twice so we can verify you typed it correctly</p>
<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="Submit" class="btn btn-success" name="Update Password">
</form>
{% else %}
    <!--Render here as per your preferences to indicate the link is invalid-->
    Looks like you clicked on an invalid password reset link. Please try again.
{% endif %}
{% endblock %}