{% extends "main/base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<h2>Profile</h2>

  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Username</label>
        <input type="email" class="form-control" placeholder="{{ user }}" disabled="true">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Name</label>
        
        <input type="text" class="form-control" placeholder="{{ user.first_name }} {{ user.last_name }}" disabled="true">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail4">Email Address</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="{{ user.email }}" disabled="true">
    </div>
    <div class="form-group">
      <label for="inputEmail4">Favourite Genre</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="{{ user.account.genres }}" disabled="true">
    </div>

    <br /><br />

<h2>Credit Card Detail</h2>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Credit Card Number</label>
        <input type="text" class="form-control" placeholder="{{ user.creditcard.cc_number }}" disabled="true">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail4">Name</label>
        <input type="text" class="form-control" placeholder="{{ user.creditcard.cc_name }}" disabled="true">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Expiry Date</label>
        <input type="text" class="form-control" placeholder="{{ user.creditcard.cc_expirydate }}" disabled="true">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">CVV</label>
        <input type="text" class="form-control" placeholder="***" disabled="true">
      </div>
    </div>

    <br /><br />

<h2>Reward Point and Prize</h2>
<p>Point Available</p>
{{data.thedata}}

{% for td in user.ratinglist.all %}
<p>{{td.rating_score}}</p>
{% endfor %}

<!-- <table border = "1">
  <tr>
    <th>UserID</th>
    <th>Point</th>
    <th>Date</th>
  </tr>

  {% for result in data %}
  <tr>
    <td>{{result.user_id}}</td>
    <td>{{result.rating_score}}</td>
    <td>{{result.date_rating}}</td>
  </tr>
  {% endfor %}

</table> -->

  </form>
{% endblock %}