{% extends "main/base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<h2>Profile</h2>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Username</label>
        <input type="email" class="form-control" placeholder="{{ user }}" disabled="true">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Name</label>
        
        <input type="text" class="form-control" placeholder="{{ user.first_name }} {{ user.last_name }}" disabled="true">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail4">Email Address</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="{{ user.email }}" disabled="true">
    </div>
    <div class="form-group">
      <label for="inputEmail4">Favourite Genre</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="{{ user.account.genres }}" disabled="true">
    </div>

    <br /><br />

<h2>Credit Card Detail</h2>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Credit Card Number</label>
        <input type="text" class="form-control" placeholder="{{ user.creditcard.cc_number }}" disabled="true">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail4">Name</label>
        <input type="text" class="form-control" placeholder="{{ user.creditcard.cc_name }}" disabled="true">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Expiry Date</label>
        <input type="text" class="form-control" placeholder="{{ user.creditcard.cc_expirydate }}" disabled="true">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">CVV</label>
        <input type="text" class="form-control" placeholder="***" disabled="true">
      </div>
    </div>

    <br /><br />

<h2>Reward Point and Prize</h2>
<p>Point Available: {{data.thedata}}</p>


<form method="POST" class="form-group">
  {% csrf_token %}
  {{form.redeem_item_id}}
<input type="submit" class="btn btn-success" value="Redeem">
</form>

<br />
<p style="color:red;">{{msg}}</p>
<br />
<h2>Point History</h2>
<div class="table-responsive">
    <table class="table">
      
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Point</th>
          <th scope="col">Date</th>
          <th scope="col">Code</th>
        </tr>
      </thead>
      <tbody>
        {% for td in reward.all %}
          <tr>
            <td>{{td.user_id}}</td>
            <td>{{td.point}}</td>
            <td>{{td.date_modified}}</td>
            <td>{{td.code}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}