{% extends "main/base.html" %}

{% block title %}
View List
{% endblock %}

{% block content %}
  {% if request.user.is_staff %}
    <h1>Admin - Rate Listing Delete</h1>
    
    <form method="post" class="form-group">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="user_id">Rating ID</label>
              {{form.id}}
            </div>
       
        
        <button type="submit", name="save" class="btn btn-success">Delete Rating</button>
        <br />
        <p style="color:red;">{{msg}}</p>
        
    </form>
  {% else %}
    <p>You required Admin Access</p>
  {% endif %}
{% endblock %}

