{% extends "main/base.html" %}

{% block title %}
View List
{% endblock %}


{% block content %}
    {% if request.user.is_staff %}
        <h1>Admin - User Listing</h1>
        
        <br />
        <form method="post" class="form-group" >
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="blackWhiteList" value="blacklist">
                List of Blacklist User
            </button>
            <button type="submit" class="btn btn-primary" name="blackWhiteList" value="whitelist">
                List of Whitelist User
            </button>
            <button type="submit" class="btn btn-primary" name="blackWhiteList" value="reset">
                List of All User
            </button>
        </form>

        <form method="post" class="form-group" style="float:right;">
            {% csrf_token %}
            <div class="form-group col-md-1">
                {{form.username}}
            </div>            
            <button type="submit" name="save" class="btn btn-success" style="height:35px; margin-left:15px;">Search User</button>
            
            <p style="color:red; margin-left:15px;">{{msg}}</p>
        </form>
        


    <table class="table table-bordered">
        <tr>
            <td>ID</td>
            <td>Username</td>
            <td>Email Address</td>
            <td>Active/Non-Blacklist</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Favourite Genre</td>
            <td width="300px">Blacklist Function</td>
        </tr>

        {% for user in userlist %}     
            <tr>
                <th>{{user.id}}</th>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.is_active}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.account.genres}}</td>
                <td>
                    <form method="post" class="form-group">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" name="blacklistUser" value="0 {{user.id}}">
                            Blacklist
                        </button>
                        <button type="submit" class="btn btn-primary" name="blacklistUser" value="1 {{user.id}}">
                            Whitelist
                        </button>
                    </form>
                </td>

            </tr>           
        {% endfor %}
        
    </table>
    </div>
    {% else %}
        <p>You required Admin Access</p>
  {% endif %}
{% endblock %}

