{% extends "main/base.html" %}
{% block title %}
Create An Account
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" class="form-group">
        {% csrf_token %}
    <h2>Profile</h2>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="username">Username</label>
              <input type="text" name="username"></input>
              <!-- {{form.username}} -->
            </div>
            <div class="form-group col-md-6">
              <label for="email">Email Address</label>
              <input type="text" name="email"></input>
              <!-- {{form.email}} -->
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="password1">Password</label>
              <input type="password" name="password1"></input>
              <!-- {{form.password1}} -->
            </div>
            <div class="form-group col-md-6">
              <label for="password2">Confirm Password</label>
              <input type="password" name="password2"></input>
              <!-- {{form.password2}} -->
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="first_name">First Name</label>
              <input type="text" name="first_name"></input>
              <!-- {{form.first_name}} -->
            </div>
            <div class="form-group col-md-6">
              <label for="last_name">Last Name</label>
              <input type="text" name="last_name"></input>
              <!-- {{form.last_name}} -->
            </div>
        </div>

        <div class="form-group">
            <label for="genres">Favourite Genres</label>
            {{form.genres}}
        </div>
      
          <br /><br />
      
      <h2>Credit Card Detail</h2>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="cc_number">Credit Card Number</label>
              {{form.cc_number}}
            </div>
            <div class="form-group col-md-4">
              <label for="cc_name">Name</label>
              {{form.cc_name}}
            </div>
            <div class="form-group col-md-2">
              <label for="cc_expirydate">Expiry Date(MMYY)</label>
              {{form.cc_expirydate}}
            </div>
            <div class="form-group col-md-2">
              <label for="cc_cvv">CVV</label>
              {{form.cc_cvv}}
            </div>
          </div>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}